[submodule "contrib/crglLib"]
	path = contrib/crglLib
	url = https://github.com/CristianoBeato/crglLib
[submodule "contrib/fastgltf"]
	path = contrib/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "contrib/SDL3pp"]
	path = contrib/SDL3pp
	url = https://github.com/CristianoBeato/SDL3PlusPlus.git
